<!DOCTYPE html>
<html lagn="zh-hk">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/song.css">

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">🎷 Music Album</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Songs
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/?songName=蒙著嘴說愛你">蒙著嘴說愛你</a></li>
                  <li><a class="dropdown-item" href="/?songName=突如其來的心跳感覺">突如其來的心跳感覺</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/?songName=ONE AND ALL">ONE AND ALL</a></li>
                  <li><a class="dropdown-item" href="/?songName=The Beautiful Game">The Beautiful Game</a></li>
                  <li><a class="dropdown-item" href="/?songName=一秒間">一秒間</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/?songName=問誰未發聲">問誰未發聲</a></li>
                  <li><a class="dropdown-item" href="/?songName=願榮光歸香港">願榮光歸香港</a></li>
                </ul>
              </li>
            </ul>
            <div id='navbarLinksDiv'>
              <a href="https://github.com/adafycheng" target="_blank" rel="noopener noreferrer"><img src="images/github.png" alt="GitHub" /></a>&nbsp;
              <a href="https://linkedin.com/in/adafycheng" target="_blank" rel="noopener noreferrer"><img src="images/linkedin.png" alt="LinkedIn" /></a>&nbsp;
              <a href="https://stackoverflow.com/story/adafycheng" target="_blank" rel="noopener noreferrer"><img src="images/stackoverflow.png" alt="Stackoverflow" /></a>&nbsp;
              <a href="https://twitter.com/adafycheng" target="_blank" rel="noopener noreferrer"><img src="images/twitter.png" alt="Twitter" /></a>&nbsp;
              <a href="https://g.dev/adafycheng" target="_blank" rel="noopener noreferrer"><img src="images/gdev.png" alt="Google Developer" /></a>&nbsp;
              <a href="https://codepen.io/adafycheng" target="_blank" rel="noopener noreferrer"><img src="images/codepen.png" alt="CodePen" /></a>&nbsp;
              <a href="https://hashnode.com/@adafycheng" target="_blank" rel="noopener noreferrer"><img src="images/hashnode.png" alt="HashNode" /></a>&nbsp;
              <a href="https://dev.to/adafycheng" target="_blank" rel="noopener noreferrer"><img src="images/dev-black.png" alt="dev.to" /></a>&nbsp;
            </div>
          </div>
        </div>
    </nav>

    <section id="main">
        <div class="d-flex justify-content-center">
            <article id="song"></article>
        </div>
    </section>
</body>
</html>