#main {
    /*background-color: rgb(241, 234, 199);*/
    background-image: url("../images/hknight.png");
    color: #fff;
}

section {
  color: #fff;
  height: calc(100vh);
  padding: 0 0 0 0;
}

.transparent-bg {
	background: rgba(250, 251, 252, 0.73);
    padding: 20px;
    color: rgb(219, 33, 148);
    height: 100%;
}

/*
#lyrics {
     background-color: rgb(255, 255, 255);
}
*/

#song a {
    color: rgb(219, 33, 148);
}

#view-video {
    width: 3em;
}

#song a {
    color: rgb(219, 33, 148);
}

#view-video {
    width: 3em;
}
/*
#main {
    text-align: center;
}
*/

#song {
    width: 75%;
}
/*
h1 {
    color: red;
}
*/